* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
body {
  background-color: #f2f2f2;
}
.container {
  width: 1920px;
  max-width: 90%;
  margin: auto;
  padding: 0 16px;
  display: flex;
}
.navbar-class {
  display: inline-block;
  margin-left: 40px;
}
.logo {
  margin: 10px;
  margin-left: 6%;
  max-width: 90%;
}
.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
}
.navbar-class {
  display: flex;
  gap: 48px;
}
.green-border {
  border-radius: 10px;
  padding: 13px 13px;
  background: #29b24e;
}
.green-border a {
  color: #f2f2f2;
}
.form-border {
  margin-top: 41px;
  width: 395px;
  padding: 10px;
  border-radius: 24px;
  background-color: white;
}
.property {
  margin: 10px;
}
.location {
  margin-top: 10px;
  margin-bottom: -5px;
}
.form-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
  margin-bottom: 10px;
}
select {
  border: 1px solid rgba(13, 156, 164, 0.21);
  outline: none;
  height: 48px;
  border-radius: 10px;
  padding-left: 10px;
}
.prince {
  margin: 10px;
}
.big-photo {
  width: 395px;
}
